<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mapper.AreaPoMapper">
	<resultMap id="BaseResultMap" type="cn.pojo.AreaPo">
		<id column="areaId" property="areaid" jdbcType="INTEGER" />
		<result column="areaName" property="areaname" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		areaId, areaName
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from area
		where areaId = #{areaid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from area
		where areaId = #{areaid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="cn.pojo.AreaPo">
		insert into area (areaId, areaName)
		values (#{areaid,jdbcType=INTEGER}, #{areaname,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="cn.pojo.AreaPo">
		insert into area
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="areaid != null">
				areaId,
			</if>
			<if test="areaname != null">
				areaName,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="areaid != null">
				#{areaid,jdbcType=INTEGER},
			</if>
			<if test="areaname != null">
				#{areaname,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.pojo.AreaPo">
		update area
		<set>
			<if test="areaname != null">
				areaName = #{areaname,jdbcType=VARCHAR},
			</if>
		</set>
		where areaId = #{areaid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.pojo.AreaPo">
		update area
		set areaName = #{areaname,jdbcType=VARCHAR}
		where areaId = #{areaid,jdbcType=INTEGER}
	</update>


	<!-- 自写方法 -->
	<resultMap id="AreaVoListMap" type="cn.pojo.vo.AreaVo">
	    <!-- 一对一 -->
		<association property="areaPo" javaType="cn.pojo.AreaPo" column="areaId"  select="cn.mapper.AreaPoMapper.selectByPrimaryKey"> 
		 	<id column="areaid" property="areaid" jdbcType="INTEGER" />
		    <result column="areaname" property="areaname" jdbcType="VARCHAR" />
		</association>
		<!-- 一对多 -->
	    <collection property="list" ofType="cn.pojo.SingerPo" column="areaId"
	     select="cn.mapper.SingerPoMapper.selectByAreaId">
	            <id column="singerid" property="singerid"/>
				<result column="singername" property="singername"/>
				<result column="accesscount" property="accesscount"/>
				<result column="areaid" property="areaid"/>
				<result column="birthday" property="birthday"/>
				<result column="singersex" property="singersex"/>
				<result column="photourl" property="photourl"/>
				<result column="debutdate" property="debutdate"/>
				<result column="singerstateid" property="singerstateid"/>
				<result column="introduce" property="introduce"/>
       </collection>
	</resultMap>

	
	<select id="selectAllAreaPo" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from area
	</select>

	<select id="selectByAreaName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from area
		where areaName = #{areaname,jdbcType=INTEGER}
	</select>
	
	
	<select id="selectAllAreaVo" resultMap="AreaVoListMap">
		select * from area 
	</select>
	
	<select id="selectAreaVoById" resultMap="AreaVoListMap">
		select * from area  where areaId =#{areaid}
	</select>
	
 
</mapper>