*{ /*修改所有默认样式*/
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
}

@font-face /*引入极简*/
{
	font-family: myFirstFont;
	src: url(../font/jj.otf);
}
.font-jj{  /*极简字体默认*/
	font-family: myFirstFont;
	font-size: 16px;
}

ul li{list-style: none;} /* ul li 默认样式 */

/* div内容默认不溢出，如果溢出用...*/
div{
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap; 
}
.noOverflow{
	overflow:visible;
	white-space: inherit;
}/* 允许容器溢出，即与div相反 */
.clear{clear: both;} /* 清除浮动 */

/*自定义滚动条*/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/ 
::-webkit-scrollbar  
{  
    width: 16px;  
    height: 16px;  
    background-color: inherit;  
}  

/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 5px;  
    background-color: #AAA;  
}
iframe{
	border: none;
	overflow-y: hidden;
} 





.default-title{
	font-size: 40px; 
	font-family: myFirstFont;
	border-bottom: 2px solid #5FB878;
}
.default-submit{
	height: 35px;
	width: 80px;
	background-color: #5FB878;
	border: #5FB878 solid 1px;
	color: white;
	border-radius: 2px;
}
.default-con{
	width: 1004px;
	margin: auto; 
	text-align: center;
}