.layui-table tr{
	background-color: #EEE;
	height: 70px;
}

.layui-table thead th,.layui-table tbody tr td{
	font-size: 16px;
}
.layui-table tbody tr:nth-child(odd){
	background-color:#F6F6F6;
}


.layui-table i{
	cursor: pointer;
}
.layui-table .buttonCon{width: 150px;}
.layui-table .songActionButton{
	display: none;
}
.singerSongCon{
	width: 1200px;margin: auto;
}
.singerSongCon .title{
	font-family: myFirstFont;
	font-size: 30px;
	margin-top: 20px;
	margin-left: 40px;
	float: left;
}
.singerCDList{
	width: 1200px;
	margin: auto;
	margin-top: 50px;
	padding-left: 15px;
}
.title{
	font-family: myFirstFont;
	font-size: 30px;
	margin-top: 20px;
	margin-left: 40px;
	float: left;
}
.singerCDList li{
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 10px;
	height: 290px;
	width: 240px;
	float: left;
}
.singerCDList li .singerCDListbg{
	height: 240px;
	width: 240px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.singerCDList li .singerCDListText{
	height: 50px;width: 230px;
}
.singerCDList li .singerCDDate{
	color: #888;float: left;
}
.singerListCon{
	height: 370px;		
}
.singerListCon .singerList{
	height: 350px;
	width: 1200px;
	margin: auto;
}

.singerListCon .singerList ul{
	width: 1200px;
}
.singerListCon .singerList ul li{
	padding: 15px;
	float: left;
	height: 200px;
	width: 180px;
	margin: 5px;				
	text-align: center;
}
.singerListCon .singerList ul li div{
	background-size: cover;
	height: 180px;
	width: 180px;
	margin-bottom: 5px;
	border-radius: 180px;
}